:root {
    --text-color: #333333;
    --secondary-text: #666666;
    --white: #FDFDFD;
}

// .content {
//     height: "100%";
//     background-color: '#fdfdfd';
//     overflow-y: "scroll";
    
//     -ms-overflow-style: none;
//     overflow: -moz-scrollbars-none;
//     overflow-x: scroll;
//     overflow-y: hidden;

//     &::-webkit-scrollbar {
//         width: 0 !important;
//         height: 0;
//         display: none !important;
//         background: transparent
//     }
// }